<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarbeariaSuper"
        tools:targetApi="31">
        <activity
            android:name=".ADM.CadastroBarbeiroAdm"
            android:exported="false" />
        <activity
            android:name=".ADM.InfosBarbeirosAdm"
            android:exported="false" />
        <activity
            android:name=".ADM.ListaAdm_barbeiros"
            android:exported="false" />
        <activity
            android:name=".ADM.TelaAdm"
            android:exported="false" />
        <activity
            android:name=".BARBEIRO.TelaHoraDataDisponiveisBarbeiro"
            android:exported="false" />
        <activity
            android:name=".BARBEIRO.TelaInfosBarbeiro"
            android:exported="false" />
        <activity
            android:name=".BARBEIRO.TelaAgendaBarbeiro"
            android:exported="false" />
        <activity
            android:name=".BARBEIRO.TelaBarbeiro"
            android:exported="false" />
        <activity
            android:name=".CLIENTE.TelaInfosUser"
            android:exported="false" />
        <activity
            android:name=".CLIENTE.TelaListaCortes"
            android:exported="false" />
        <activity
            android:name=".CLIENTE.TelaConfirmarCorte"
            android:exported="false" />
        <activity
            android:name=".CLIENTE.TelaAgendarCorte"
            android:exported="false" />
        <activity
            android:name=".CLIENTE.TelaListaDatas"
            android:exported="false" />
        <activity
            android:name=".CLIENTE.TelaUser"
            android:exported="false" />
        <activity
            android:name=".TelaCadastro"
            android:exported="false" />
        <activity
            android:name=".Telalogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>